html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  width: 100%;
  align-content: center;
  align-items: center;
  flex-direction: column;

  .loader {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10;
    width: 100vw;
    height: 100vh;
  }

  /* NavBar */
  nav {
    background: #313b50;
    .brand-logo {
      padding-left: 1rem;
    }
    li a {
      &.active {
        background: #26a6a0 !important;
      }
      &:hover {
        background: #2bbbad !important;
      }
    }
  }

  /* AggregatorView */
  .main {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 100%;

    .column-1 {
      margin: 0 1rem;
      width: 50vw;
      form {
        &#read-file-form {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          margin: 0.5rem;
          .files::placeholder {
            color: black;
          }
        }
      }
      form.output-config-form {
        margin: 5px;
      }
      .card-list {
        max-height: 80vh;
        overflow: scroll;
        .card-panel {
          color: white;
          padding: 5px;
          margin: 5px 0;
          text-align: center;
          &.duplicate {
            background-color: tomato !important;
          }
        }
      }
    }
    .column-2 {
      margin: 0 1rem;
      width: 50vw;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      .card-list {
        max-height: 80vh;
        overflow: scroll;
        .card-panel {
          color: white;
          padding: 5px;
          margin: 5px 0;
        }
      }
    }

    form.config-form {
      width: 100%;
      .h5-header {
        display: flex;
      }
      .row {
        &:first-of-type {
          padding-top: 5px;
          height: 65px;
          & input {
            padding-top: 10px;
          }
        }
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin: 0;
        i {
          height: 100%;
          color: lightgray;
          display: flex;
          align-items: center;
        }
        &:nth-child(even) {
          background: rgb(240, 251, 255);
        }
        .inner-row {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin: 0;
          .input-row {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            .input-field {
              margin: 0;
              height: 40px;
              input {
                height: 80%;
                margin: 0;
                line-height: 0;
              }
              label {
                display: inline-block;
                align-self: center;
                transform: translateY(-25px) scale(0.8);
                height: 30px;
              }
            }
          }
          i {
            display: flex;
            align-self: center;
            margin-right: 5px;
            color: lightgray;
            &:hover {
              cursor: pointer;
              color: gray;
            }
          }
        }
      }
      #config-button {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 2rem;
      }
    }
  }
}
