html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100%;
  width: 100%;
}

.app {
  min-height: 100%;
  width: 100%;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.loader {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

nav {
  background: #313b50;
}

nav .brand-logo {
  padding-left: 1rem;
}

nav li a:hover {
  background: #ea454b;
}

.main {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.column-1,
.column-2 {
  margin: 0 1rem;
  width: 50vw;
}

.column-2 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0.5rem;
}
.files::placeholder {
  color: black;
}

input {
  margin: 5px;
}

.card-list {
  max-height: 80vh;
  overflow: scroll;
}

.card-panel {
  color: white;
  padding: 5px;
  margin: 5px 0;
}

.config-form {
  width: 100%;
}

.config-form .row {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 60px; */
  margin: 0;
}
.row h6 {
  width: 50%;
  display: block;
}
.row:nth-child(odd) {
  background: rgb(240, 251, 255);
  padding: 10px;
  border-radius: 10px;
  /* margin-bottom: 5px; */
}

.config-form .row .inner-row {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60px;
  margin: 0;
}

.config-form .row .input-row {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60px;
  margin: 0;
}

.config-form .row .input-field input {
  height: 30px;
}

.config-form .row .input-field label {
  transform: translateY(-30px) scale(0.8);
  height: 30px;
}
